[Unit]
Description=nowaster
After=multi-user.target

[Service]
WorkingDirectory=/home/kobu/utils/nowaster
ExecStartPre=docker-compose pull
ExecStart=docker-compose up -d
ExecStop=docker-compose down
Restart=always
TimeoutSec=30
EnvironmentFile=/home/kobu/utils/nowaster/.env

[Install]
WantedBy=default.target

